@import '@/styles/variables.scss';

// ------------------------------+
//
//        Loader
//
// ------------------------------+

$corner_width: 560px;
$corner_width_phone: 280px;
$transparent_percentage: 2%;

.loader_cont {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: $top_zindex;

  // Corner
  .loader_corner_right,
  .loader_corner_left {
    width: 50%;
    height: 100%;
    background-color: $black_color;
  }

  .loader_corner_left {
    position: absolute;
    top: 0;
    left: 0;

    // Line
    &::before {
      content: '';
      width: 100%;
      height: $border_width;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(
        to right,
        transparent 0%,
        transparent $transparent_percentage,
        $main_color calc(100% - ($corner_width / 2)),
        transparent calc(100% - ($corner_width / 2))
      );

      @media only screen and (max-width: $phone_width) {
        background: linear-gradient(
          to right,
          transparent,
          $main_color calc(100% - ($corner_width_phone / 2)),
          transparent calc(100% - ($corner_width_phone / 2))
        );
      }
    }

    // Center
    &::after {
      content: '';
      width: calc($corner_width / 2);
      height: $corner_width;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      border-top-left-radius: $corner_width;
      border-bottom-left-radius: $corner_width;
      border-left: solid $border_width $main_color;
      border-top: solid $border_width $main_color;
      border-bottom: solid $border_width $main_color;
      @media only screen and (max-width: $phone_width) {
        width: calc($corner_width_phone / 2);
        height: $corner_width_phone;
        border-top-left-radius: $corner_width_phone;
        border-bottom-left-radius: $corner_width_phone;
      }
    }
  }

  .loader_corner_right {
    position: absolute;
    top: 0;
    right: 0;

    // Line
    &::before {
      content: '';
      width: 100%;
      height: $border_width;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(
        to left,
        transparent 0%,
        transparent $transparent_percentage,
        $main_color calc(100% - ($corner_width / 2)),
        transparent calc(100% - ($corner_width / 2))
      );

      @media only screen and (max-width: $phone_width) {
        background: linear-gradient(
          to left,
          transparent,
          $main_color calc(100% - ($corner_width_phone / 2)),
          transparent calc(100% - ($corner_width_phone / 2))
        );
      }
    }

    // Center
    &::after {
      content: '';
      width: calc($corner_width / 2);
      height: $corner_width;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      border-top-right-radius: $corner_width;
      border-bottom-right-radius: $corner_width;
      border-right: solid $border_width $main_color;
      border-top: solid $border_width $main_color;
      border-bottom: solid $border_width $main_color;

      @media only screen and (max-width: $phone_width) {
        width: calc($corner_width_phone / 2);
        height: $corner_width_phone;
        border-top-right-radius: $corner_width_phone;
        border-bottom-right-radius: $corner_width_phone;
      }
    }
  }

  // Center Loader
  .loader_cont_center {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $phone_width) {
      height: 60%;
    }

    .blue_circle {
      width: calc($corner_width - $small_margin);
      height: calc($corner_width - $small_margin);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media only screen and (max-width: $phone_width) {
        width: calc($corner_width_phone - $small_margin);
        height: calc($corner_width_phone - $small_margin);
      }
    }

    .loader_logo_white {
      width: 120px;
      height: 120px;
      animation: fadeIn $text_animation ease-in-out;

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY($text_animation_negative_margin);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      @media only screen and (max-width: $phone_width) {
        width: 80px;
        height: 80px;
      }
    }

    .loader_text_cont {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: $big_margin;

      .loader_percentage {
        font-family: $first_font;
        font-size: $medium_font_size;
        font-weight: $font_weight_regular;
        color: $white_color;

        @media only screen and (max-width: $phone_width) {
          font-size: $small_small_font_size;
          text-align: center;
        }
      }

      .loader_percentage {
        margin-bottom: $small_margin;
        position: relative;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          content: '%';
          position: absolute;
          right: -10px;
        }
      }
    }
  }

  @media only screen and (max-width: $phone_width) {
  }
}
