@use '@/styles/variables';

// ------------------------------+
//
//        Loader
//
// ------------------------------+

$corner_width: 560px;
$corner_width_phone: 280px;
$transparent_percentage: 2%;

.loader_cont {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: variables.$top_zindex;

  // Corner
  .loader_corner_right,
  .loader_corner_left {
    width: 50%;
    height: 100%;
    background-color: variables.$black_color;
  }

  .loader_corner_left {
    position: absolute;
    top: 0;
    left: 0;

    // Line
    &::before {
      content: '';
      width: 100%;
      height: variables.$border_width;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(
        to right,
        transparent 0%,
        transparent $transparent_percentage,
        var(--color-primary) calc(100% - ($corner_width / 2)),
        transparent calc(100% - ($corner_width / 2))
      );

      @media only screen and (max-width: variables.$phone_width) {
        background: linear-gradient(
          to right,
          transparent,
          var(--color-primary) calc(100% - ($corner_width_phone / 2)),
          transparent calc(100% - ($corner_width_phone / 2))
        );
      }
    }

    // Center
    &::after {
      content: '';
      width: calc($corner_width / 2);
      height: $corner_width;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      border-top-left-radius: $corner_width;
      border-bottom-left-radius: $corner_width;
      border-left: solid variables.$border_width var(--color-primary);
      border-top: solid variables.$border_width var(--color-primary);
      border-bottom: solid variables.$border_width var(--color-primary);
      @media only screen and (max-width: variables.$phone_width) {
        width: calc($corner_width_phone / 2);
        height: $corner_width_phone;
        border-top-left-radius: $corner_width_phone;
        border-bottom-left-radius: $corner_width_phone;
      }
    }
  }

  .loader_corner_right {
    position: absolute;
    top: 0;
    right: 0;

    // Line
    &::before {
      content: '';
      width: 100%;
      height: variables.$border_width;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(
        to left,
        transparent 0%,
        transparent $transparent_percentage,
        var(--color-primary) calc(100% - ($corner_width / 2)),
        transparent calc(100% - ($corner_width / 2))
      );

      @media only screen and (max-width: variables.$phone_width) {
        background: linear-gradient(
          to left,
          transparent,
          var(--color-primary) calc(100% - ($corner_width_phone / 2)),
          transparent calc(100% - ($corner_width_phone / 2))
        );
      }
    }

    // Center
    &::after {
      content: '';
      width: calc($corner_width / 2);
      height: $corner_width;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      border-top-right-radius: $corner_width;
      border-bottom-right-radius: $corner_width;
      border-right: solid variables.$border_width var(--color-primary);
      border-top: solid variables.$border_width var(--color-primary);
      border-bottom: solid variables.$border_width var(--color-primary);

      @media only screen and (max-width: variables.$phone_width) {
        width: calc($corner_width_phone / 2);
        height: $corner_width_phone;
        border-top-right-radius: $corner_width_phone;
        border-bottom-right-radius: $corner_width_phone;
      }
    }
  }

  // Center Loader
  .loader_cont_center {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: variables.$phone_width) {
      height: 60%;
    }

    .blue_circle {
      width: calc($corner_width - variables.$small_margin);
      height: calc($corner_width - variables.$small_margin);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: rotate_circle 40s linear infinite;
      will-change: transform;
      mix-blend-mode: screen;

      @keyframes rotate_circle {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }

      @media only screen and (max-width: variables.$phone_width) {
        width: calc($corner_width_phone - variables.$small_margin);
        height: calc($corner_width_phone - variables.$small_margin);
      }
    }

    .loader_logo_white {
      width: 120px;
      height: 120px;
      animation: fadeIn variables.$text_animation ease-in-out;

      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateY(variables.$text_animation_negative_margin);
        }
        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      @media only screen and (max-width: variables.$phone_width) {
        width: 80px;
        height: 80px;
      }
    }

    .loader_text_cont {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: variables.$big_margin;

      .loader_percentage {
        font-family: variables.$first_font;
        font-size: variables.$medium_font_size;
        font-weight: variables.$font_weight_regular;
        color: variables.$white_color;
        margin-bottom: variables.$small_margin;
        position: relative;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
          content: '%';
          position: absolute;
          right: -10px;
        }

        @media only screen and (max-width: variables.$phone_width) {
          font-size: variables.$small_small_font_size;
          text-align: center;
        }
      }
    }
  }

  .music_wrapper {
    width: 400px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: variables.$layout_margin;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInMusic variables.$text_animation ease-in-out;

    @media only screen and (max-width: variables.$phone_width) {
      width: 90%;
    }

    @keyframes fadeInMusic {
      from {
        opacity: 0;
        transform: translate(-50%, variables.$text_animation_margin);
      }
      to {
        opacity: 1;
        transform: translate(-50%, 0%);
      }
    }

    .music_selector_cont {
      width: 80px;
      height: 30px;
      background-color: variables.$white_color;
      border-radius: calc(variables.$bouton_size / 2);
      overflow: hidden;
      z-index: variables.$top_zindex;
      transition: variables.$transition;
    }

    .text_music {
      margin-top: variables.$margin;
      text-align: center;
      font-family: variables.$first_font;
      font-weight: variables.$font_weight_regular;
      color: variables.$white_color;
      font-size: variables.$small_font_size;
      text-transform: lowercase;
    }
  }
}
