@import '@/styles/variables.scss';

// ------------------------------+
//
//          NAV BAR
//
// ------------------------------+

.header_cont {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: $layout_margin;
  left: 50%;
  transform: translate(-50%, -2%);

  @media only screen and (max-width: $phone_width) {
    width: 96%;
    height: 100px;
  }

  .header {
    width: 20%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $white_color;
    border-radius: $border_radius;

    @media only screen and (max-width: $phone_width) {
      height: 40px;
      width: 100%;
    }
  }

  .header_center {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white_color;
    border-radius: $border_radius;

    @media only screen and (max-width: $phone_width) {
      height: 60px;
      width: 60px;
    }

    .dot_top_left,
    .dot_top_right,
    .dot_bottom_right,
    .dot_bottom_left {
      width: 4px;
      height: 4px;
      background-color: $medium_blue;
      border-radius: $circle_border_radius;
      position: absolute;
      transition: $transition;
    }

    .dot_top_left {
      top: $small_margin;
      left: $small_margin;
    }

    .dot_top_right {
      top: $small_margin;
      right: $small_margin;
    }

    .dot_bottom_right {
      bottom: $small_margin;
      right: $small_margin;
    }

    .dot_bottom_left {
      bottom: $small_margin;
      left: $small_margin;
    }

    .btn_logo {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;

      .navbar_logo {
        @media only screen and (max-width: $phone_width) {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  .nav_bar_link {
    width: 80px;
    overflow: hidden;
    position: relative;
    height: 28px;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    @media only screen and (max-width: $phone_width) {
      width: 48px;
      height: 20px;
    }

    p {
      display: inline-block;
      color: $main_color;

      &:nth-child(1) {
        transform-origin: top;
        transition: transform $transition_time ease-in-out;
      }
      &:nth-child(2) {
        transform: translate3d(0, 120%, 0);
        position: absolute;
        opacity: 1;
        transition: all $transition_time ease-in-out;
      }
    }

    &:hover p:nth-child(1) {
      transform: translateY(-120%);
    }
    &:hover p:nth-child(2) {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, -0%);
      opacity: 1;
      width: 0%;
      height: $border_width_big;
      background: $main_color;
      transition: width $transition_time ease-in-out;
    }

    &.active {
      p:nth-child(1) {
        transform: translateY(-120%);
      }
      p:nth-child(2) {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
      &::before {
        width: 40%;
      }
    }

    &:hover:before {
      width: 40%;
    }
  }
}

// ------------------------------+
//
//       NAV BAR OPEN
//
// ------------------------------+

.navbar_close_text {
  display: flex;
}

.navbar_close {
  animation: grows $transition_time forwards;

  @media only screen and (max-width: $phone_width) {
    animation: growsPhone $transition_time forwards;
  }

  .navbar_logo {
    animation: rotate_open $transition_time forwards;
  }

  .dot_top_left {
    animation: dot_t_l_open $transition_time forwards;
  }

  .dot_top_right {
    animation: dot_t_r_open $transition_time forwards;
  }

  .dot_bottom_right {
    animation: dot_b_r_open $transition_time forwards;
  }

  .dot_bottom_left {
    animation: dot_b_l_open $transition_time forwards;
  }
}

@keyframes grows {
  from {
    width: 100px;
  }
  to {
    width: 600px;
  }
}

@keyframes growsPhone {
  from {
    width: 60px;
  }
  to {
    width: 96%;
  }
}

@keyframes rotate_open {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes dot_t_l_open {
  0%,
  100% {
    top: $small_margin;
    left: $small_margin;
  }
  25% {
    top: calc(100% - $small_margin);
    left: $small_margin;
  }
  50% {
    top: calc(100% - $small_margin);
    left: calc(100% - $small_margin);
  }
  75% {
    top: $small_margin;
    left: calc(100% - $small_margin);
  }
}

@keyframes dot_t_r_open {
  0%,
  100% {
    top: $small_margin;
    right: $small_margin;
  }
  25% {
    top: $small_margin;
    right: calc(100% - $small_margin);
  }
  50% {
    top: calc(100% - $small_margin);
    right: calc(100% - $small_margin);
  }
  75% {
    top: calc(100% - $small_margin);
    right: $small_margin;
  }
}

@keyframes dot_b_r_open {
  0%,
  100% {
    bottom: $small_margin;
    right: $small_margin;
  }
  25% {
    bottom: calc(100% - $small_margin);
    right: $small_margin;
  }
  50% {
    bottom: calc(100% - $small_margin);
    right: calc(100% - $small_margin);
  }
  75% {
    bottom: $small_margin;
    right: calc(100% - $small_margin);
  }
}

@keyframes dot_b_l_open {
  0%,
  100% {
    bottom: $small_margin;
    left: $small_margin;
  }
  25% {
    bottom: $small_margin;
    left: calc(100% - $small_margin);
  }
  50% {
    bottom: calc(100% - $small_margin);
    left: calc(100% - $small_margin);
  }
  75% {
    bottom: calc(100% - $small_margin);
    left: $small_margin;
  }
}

// ------------------------------+
//
//        NAV BAR CLOSE
//
// ------------------------------+

.navbar_open_text {
  display: none;
}

.navbar_open {
  animation: shrink $transition_time forwards;

  @media only screen and (max-width: $phone_width) {
    animation: shrinkPhone $transition_time forwards;
  }

  .navbar_logo {
    animation: rotate_close $transition_time forwards;
  }

  .dot_top_left {
    animation: dot_t_l_close $transition_time forwards;
  }

  .dot_top_right {
    animation: dot_t_r_close $transition_time forwards;
  }

  .dot_bottom_right {
    animation: dot_b_r_close $transition_time forwards;
  }

  .dot_bottom_left {
    animation: dot_b_l_close $transition_time forwards;
  }
}

@keyframes shrink {
  from {
    width: 600px;
  }
  to {
    width: 100px;
  }
}

@keyframes shrinkPhone {
  from {
    width: 96%;
  }
  to {
    width: 60px;
  }
}

@keyframes rotate_close {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dot_t_l_close {
  0%,
  100% {
    top: $small_margin;
    left: $small_margin;
  }
  25% {
    top: $small_margin;
    left: calc(100% - $small_margin);
  }
  50% {
    top: calc(100% - $small_margin);
    left: calc(100% - $small_margin);
  }
  75% {
    top: calc(100% - $small_margin);
    left: $small_margin;
  }
}

@keyframes dot_t_r_close {
  0%,
  100% {
    top: $small_margin;
    right: $small_margin;
  }
  25% {
    top: calc(100% - $small_margin);
    right: $small_margin;
  }
  50% {
    top: calc(100% - $small_margin);
    right: calc(100% - $small_margin);
  }
  75% {
    top: $small_margin;
    right: calc(100% - $small_margin);
  }
}

@keyframes dot_b_r_close {
  0%,
  100% {
    bottom: $small_margin;
    right: $small_margin;
  }
  25% {
    bottom: $small_margin;
    right: calc(100% - $small_margin);
  }
  50% {
    bottom: calc(100% - $small_margin);
    right: calc(100% - $small_margin);
  }
  75% {
    bottom: calc(100% - $small_margin);
    right: $small_margin;
  }
}

@keyframes dot_b_l_close {
  0%,
  100% {
    bottom: $small_margin;
    left: $small_margin;
  }
  25% {
    bottom: calc(100% - $small_margin);
    left: $small_margin;
  }
  50% {
    bottom: calc(100% - $small_margin);
    left: calc(100% - $small_margin);
  }
  75% {
    bottom: $small_margin;
    left: calc(100% - $small_margin);
  }
}
