@import '@/styles/variables.scss';

// ------------------------------+
//
//          SHARE BTN
//
// ------------------------------+

.share_btn_cont {
  height: 40px;
  width: 40px;
  position: absolute;
  top: $layout_margin;
  right: $layout_margin;
  animation: fadeIn $text_animation ease-in-out;

  @media only screen and (max-width: $phone_width) {
    top: calc($layout_margin / 2);
    right: calc($layout_margin / 2);
  }

  &:hover {
    .btn_title {
      span:nth-child(1) {
        transform: translateY(-120%);
      }
      span:nth-child(2) {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .btn_title {
    width: 60px;
    height: 26px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $first_font;
    font-weight: $font_weight_bold;
    color: $text_color;
    font-size: $small_font_size;
    text-transform: lowercase;
    
    @media only screen and (max-width: $phone_width) {
      font-size: $small_small_font_size;
    }

    span {
      display: inline-block;

      &:nth-child(1) {
        transform-origin: top;
        transition: transform $transition_time ease-in-out;
      }
      &:nth-child(2) {
        transform: translate3d(0, $text_animation_margin, 0);
        position: absolute;
        opacity: 1;
        transition: all $transition_time ease-in-out;
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX($text_animation_margin);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .btn_mail,
  .btn_github,
  .btn_link,
  .btn_share {
    position: absolute;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $circle_border_radius;
    cursor: pointer;
    outline: none;
    transition: $transition;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .btn_share {
    &.btn_share_close,
    &.btn_share_open {
      border: none;
      background: $white_color;
    }

    &.btn_share_close {
      img {
        width: 14px;
        height: 14px;

        @media only screen and (max-width: $phone_width) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  .btn_github {
    opacity: 0;
    z-index: -1;
    top: calc($big_margin + $small_margin);
  }

  .btn_link {
    opacity: 0;
    z-index: -1;
    top: calc(($big_margin + $small_margin) * 2);
  }

  .btn_mail {
    opacity: 0;
    z-index: -1;
    top: calc(($big_margin + $small_margin) * 3);
  }

  .btn_github,
  .btn_mail,
  .btn_link {
    border: none;
    background: none;

    &.btn_open {
      transform: translateY($text_animation_negative_margin);
      opacity: 0;
      z-index: -1;
    }

    &.btn_close {
      transform: translateY(0);
      opacity: 0.6;
      z-index: 1;

      &:hover {
        opacity: 1;
      }
    }
  }
}
