@import '@/styles/variables.scss';

// ------------------------------+
//
//          SHARE BTN 
//
// ------------------------------+

.share_btn_cont {
  width: 100px;
  height: 100px;
  background-color: red;
}
