@use '@/styles/variables';

// ------------------------------+
//
//          CARD PROJECT
//
// ------------------------------+

.card_project {
  width: 140px;
  height: 100%;
  padding: variables.$small_margin;
  margin: variables.$small_margin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$white_color_rgba;
  border: solid variables.$border_width variables.$white_color;
  border-radius: variables.$border_radius;
  box-shadow: 0 0 10px variables.$white_color;
  transition: variables.$transition;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  @media only screen and (max-width: variables.$phone_width) {
    width: 80%;
    height: 40px;
  }

  &:hover {
    background-color: variables.$white_color;
    box-shadow: 0 0 20px var(--color-primary);
    width: 220px;
    transform: translateY(calc(variables.$small_margin) * -1);

    @media only screen and (max-width: variables.$phone_width) {
      width: 90%;
      height: 160px;
      transform: translateY(0);
    }

    .card_content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }

    .card_project_title,
    .card_project_number {
      color: var(--color-primary);
    }

    .card_project_number {
      top: 100%;
      left: 2%;
      transform: translate(-2%, -100%);
    }
    .card_project_title {
      margin-top: 0;
      top: 100%;
      transform: translate(-50%, -100%);
    }
  }

  .card_content {
    height: 100%;
    width: 100%;
    padding: variables.$small_margin;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
    transform: translatey(variables.$text_animation_negative_margin);
    transition: transform variables.$transition_time ease-in-out, opacity variables.$transition_time 0.2s;
    visibility: hidden;
  }

  .card_project_number {
    font-size: variables.$title_font_size;
    font-family: variables.$first_font;
    color: variables.$text_color;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: variables.$transition;

    @media only screen and (max-width: variables.$phone_width) {
      font-size: variables.$medium_font_size;
      top: 50%;
      left: 10%;
      transform: translate(-10%, -50%);
    }
  }

  .card_project_title {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: variables.$big_margin;
    transition: variables.$transition;

    @media only screen and (max-width: variables.$phone_width) {
      height: auto;
      margin-top: 0;
    }
  }
}
