@use '@/styles/themes';
@use '@/styles/variables';

// ------------------------------+
//
//            GLOBAL
//
// ------------------------------+

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;
}

body {
  overflow: hidden;
  letter-spacing: variables.$letter_spacing;
  line-height: variables.$line_height;
}

// ------------------------------+
//
//            TEXT
//
// ------------------------------+

p {
  font-family: variables.$second_font;
  color: variables.$text_color;
  font-weight: variables.$font_weight_regular;

  @media only screen and (max-width: variables.$phone_width) {
    font-size: variables.$small_small_font_size;
  }
}

.p {
  &_small_small {
    font-size: variables.$small_small_font_size;
  }
  &_small {
    font-size: variables.$small_font_size;
    @media only screen and (max-width: variables.$phone_width) {
      font-size: variables.$small_small_font_size;
    }
  }
  &_medium {
    font-size: variables.$medium_font_size;
    @media only screen and (max-width: variables.$phone_width) {
      font-size: variables.$small_small_font_size;
    }
  }
  &_big {
    font-size: variables.$big_font_size;
    @media only screen and (max-width: variables.$phone_width) {
      font-size: variables.$small_small_font_size;
    }
  }
  &_bold {
    font-weight: variables.$font_weight_bold;
  }

  &_white {
    color: variables.$white_color;
  }
}

// ------------------------------+
//
//              SVG
//
// ------------------------------+

.svg_color {
  fill: var(--color-primary);
}

// ------------------------------+
//
//          SELECTION
//
// ------------------------------+

*::selection {
  background-color: variables.$black_color;
  color: variables.$succes_color;
}

*::-moz-selection {
  background-color: variables.$black_color;
  color: variables.$succes_color;
}
