@use '@/styles/variables';

// ------------------------------+
//
//          SENTENCE
//
// ------------------------------+

.loader_title {
  width: 100%;
  font-weight: variables.$font_weight_regular;
  display: flex;
  align-items: center;
  animation: fadeIn variables.$text_animation ease-in;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(variables.$text_animation_margin);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &_white {
    font-family: variables.$first_font;
    font-size: variables.$medium_font_size;
    color: variables.$white_color;
    justify-content: center;

    @media only screen and (max-width: variables.$phone_width) {
      font-size: variables.$small_small_font_size;
    }
  }

  &_black {
    font-family: variables.$second_font;
    font-size: variables.$font_size;
    color: variables.$text_color;
    margin-top: variables.$margin;
    justify-content: flex-start;

    @media only screen and (max-width: variables.$phone_width) {
      justify-content: center;
    }
  }

  .word_dot {
    width: 4px;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: variables.$circle_border_radius;
    margin: 0 variables.$small_margin;
  }
}
