@import '@/styles/variables.scss';

// ------------------------------+
//
//          SENTENCE
//
// ------------------------------+

.loader_title {
  width: 100%;
  font-weight: $font_weight_regular;
  display: flex;
  align-items: center;
  animation: fadeIn $text_animation ease-in;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY($text_animation_margin);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &_white {
    font-family: $first_font;
    font-size: $medium_font_size;
    color: $white_color;
    justify-content: center;

    @media only screen and (max-width: $phone_width) {
      font-size: $small_small_font_size;
    }
  }

  &_black {
    font-family: $second_font;
    font-size: $font_size;
    color: $text_color;
    margin-top: $margin;
    justify-content: flex-start;

    @media only screen and (max-width: $phone_width) {
      justify-content: center;
    }
  }

  .word_dot {
    width: 4px;
    height: 4px;
    background-color: $main_color;
    border-radius: $circle_border_radius;
    margin: 0 $small_margin;
  }
}
