@import '@/styles/variables.scss';

// ------------------------------+
//
//          COLOR PICKER
//
// ------------------------------+

$min_height: 85px;
$max_width: 250px;
$update_height: 55px;

.color_picker_cont {
  width: $max_width;
  min-height: $min_height;
  position: absolute;
  bottom: $layout_margin;
  right: $layout_margin;
  background-color: $white_color;
  border-radius: calc($bouton_size / 2);
  z-index: $top_zindex;
  transition: $transition;
  animation: fadeIn $text_animation ease-in-out;
  clip-path: circle(
    calc($bouton_size / 2) at calc(100% - $layout_margin)
      calc(100% - $layout_margin)
  );

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX($text_animation_margin);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: $phone_width) {
    bottom: calc($layout_margin / 2);
    right: calc($layout_margin / 2);
  }

  &.open_options_menu {
    border-radius: 0 0 calc($bouton_size / 2) calc($bouton_size / 2);

    .custom_options_menu {
      height: $update_height;
      transform: translateY($update_height * -1 + $margin);

      .filter_section {
        height: $update_height;

        .color_buttons {
          .color_dot {
            animation: fadeInColor $medium_transition_time ease-in-out;

            @keyframes fadeInColor {
              from {
                opacity: 0;
              }
              to {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  &:hover {
    clip-path: circle($max_width);

    .custom_btn {
      transform: rotate(360deg) scale(0.6);
    }
  }

  .custom_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: $bouton_size;
    width: $bouton_size;
    border-radius: $circle_border_radius;
    border: solid $white_color $border_width;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%
      ),
      linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    transition: $transition;
  }

  .custom_options_menu {
    width: $max_width;
    position: absolute;
    background-color: $white_color;
    border-radius: calc($bouton_size / 2) calc($bouton_size / 2) 0 0;
    padding: $small_margin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 0;
    transition: $transition;

    .filter_section {
      width: 100%;
      position: absolute;
      top: 0;
      transition: $transition;

      .color_buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: $small_margin;
        padding: $small_margin;
        transition: $transition;

        &.background_color {
          justify-content: flex-start;
        }

        .color_dot {
          width: 26px;
          height: 26px;
          border-radius: 2px;
          border: solid $border_width var(--color-text);
          cursor: pointer;
        }
      }
    }
  }

  .custom_selected_menu {
    width: $max_width;
    height: $min_height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 $small_margin;
    position: absolute;

    .custom_selected_top {
      width: 100%;
      padding: 0 $small_margin;
      display: flex;
      justify-content: space-between;
      transform: translateY($margin);

      .custom_button {
        width: 60px;
        height: 20px;
        border-radius: calc($border_radius * 2);
        border: solid $border_width var(--color-text);
        cursor: pointer;
        outline: none;
      }

      .opacity_button {
        background: linear-gradient($white_color_rgba, $white_color_rgba),
          repeating-conic-gradient($black_color 0% 25%, transparent 0% 50%) 0% /
            10px 10px,
          linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
          );
        background-blend-mode: lighten, normal, normal;
      }
    }

    .custom_selected_bot {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .custom_space,
      .reset_color {
        width: 40px;
        height: 20px;
      }

      .reset_color {
        background: none;
        cursor: pointer;
        border: none;
        outline: none;
      }

      .custom_title {
        font-family: $first_font;
        font-weight: $font_weight_bold;
        color: $text_color;
        font-size: $small_font_size;
        text-transform: lowercase;
      }
    }
  }
}
