@use '@/styles/variables';

// ------------------------------+
//
//          LOGIN
//
// ------------------------------+

.section_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: variables.$big_margin;

  .login {
    width: 600px;
    height: auto;
    display: flex;

    @media only screen and (max-width: variables.$phone_width) {
      width: 90%;
      height: 90%;
    }

    .container {
      width: calc(100% - variables.$double_image_height);
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: variables.$margin;

      .login_form {
        width: 80%;
        margin-top: variables.$big_margin;
        display: flex;
        flex-direction: column;

        button,
        input {
          width: 100%;
          margin-bottom: variables.$margin;
        }
      }
    }
  }
}
