@import '../styles/variables.scss';

// ------------------------------+
//
//            GLOBAL
//
// ------------------------------+

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  letter-spacing: $letter_spacing;
  line-height: $line_height;
}

// ------------------------------+
//
//            TEXT
//
// ------------------------------+

p {
  font-family: $second_font;
  color: $white_color;
  font-weight: $font_weight_regular;

  @media only screen and (max-width: $phone_width) {
    font-size: $small_small_font_size;
  }
}

.p {
  &_small_small {
    font-size: $small_small_font_size;
  }
  &_small {
    font-size: $small_font_size;
    @media only screen and (max-width: $phone_width) {
      font-size: $small_small_font_size;
    }
  }
  &_medium {
    font-size: $medium_font_size;
    @media only screen and (max-width: $phone_width) {
      font-size: $small_small_font_size;
    }
  }
  &_big {
    font-size: $big_font_size;
    @media only screen and (max-width: $phone_width) {
      font-size: $small_small_font_size;
    }
  }
  &_bold {
    font-weight: $font_weight_bold;
  }
}

// ------------------------------+
//
//          SELECTION
//
// ------------------------------+

*::selection {
  background-color: $black_color;
  color: $light_blue;
}

*::-moz-selection {
  background-color: $black_color;
  color: $light_blue;
}
