@import '../styles/variables.scss';

// ------------------------------+
//
//            GLOBAL
//
// ------------------------------+

* {
  box-sizing: unset;
  font-family: "Orbitron", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

// ------------------------------+
//
//            TEXT
//
// ------------------------------+

// .p {
//   color: $white_color;
//   font-size: $font_size;
//   font-family: $second_font;
//   &_small_small {
//     font-size: $small_small_font_size;
//   }
//   &_small {
//     font-size: $small_font_size;
//   }
//   &_medium {
//     font-size: $medium_font_size;
//   }
//   &_big {
//     font-size: $big_font_size;
//   }
// }
// .span {
//   color: $first_color;
//   font-size: $font_size;
//   font-family: $second_font;
//   &_small {
//     font-size: $small_font_size;
//   }
//   &_medium {
//     font-size: $medium_font_size;
//   }
//   &_big {
//     font-size: $big_font_size;
//   }
//   &_light {
//     color: $second_color;
//   }
//   &_light_small {
//     color: $second_color;
//     font-size: $small_font_size;
//   }
//   &_light_medium {
//     color: $second_color;
//     font-size: $medium_font_size;
//   }
//   &_light_big {
//     color: $second_color;
//     font-size: $big_font_size;
//   }
// }

// ------------------------------+
//
//          SELECTION
//
// ------------------------------+

// *::selection {
//   background-color: $white_color;
//   color: $black_color;
// }

// *::-moz-selection {
//   background-color: $white_color;
//   color: $black_color;
// }
