// color
$white_color: #f8f8ff;
$black_color: #1c1c1c;
$dark_blue: #0132b5;
$medium_blue: #2c75ff;
$light_blue: #26c4ec;
$light_mauve: #9370db;
$gradient_blue: linear-gradient(
  to right,
  $light_blue,
  $medium_blue,
  $dark_blue
);

// border
$border_radius: 10px;
$circle_border_radius: 50%;
$border_width: 1px;
$border_width_big: 2px;

// font
$first_font: 'Orbitron', sans-serif;
$second_font: 'Nunito', sans-serif;
$font_weight_bold: bold;
$font_weight_regular: normal;

// font size
$small_small_font_size: 12px;
$small_font_size: 14px;
$font_size: 16px;
$medium_font_size: 18px;
$big_font_size: 24px;
$title_font_size: 32px;

// text
$text_indent: 20px;
$letter_spacing: normal;
$line_height: 1.6;

// animation
$transition: 0.6s all;
$transition_time: 0.6s;
$big_transition_time: 2.8s;

// margin
$small_margin: 10px;
$margin: 20px;
$big_margin: 40px;

// phone
$phone_width: 800px;
