// color
$white_color: #f8f8ff;
$white_color_rgba: rgba(248, 248, 255, 0.4);
$black_color_rgba: rgba(4, 11, 18, 0.5);
$black_color_rgba_light: rgba(4, 11, 18, 0.4);
$black_color: #040b12;
$text_color: #1c1c1c;
$main_color: #0132b5;
$main_color_rgba: rgba(1, 50, 181, 0.2);
$error_color: crimson;
$succes_color: aqua;
$succes_color_two: green;

// border
$small_border_radius: 4px;
$border_radius: 10px;
$circle_border_radius: 50%;
$border_width: 1px;
$border_width_big: 2px;

// font
$first_font: 'Orbitron', sans-serif;
$second_font: 'Nunito', sans-serif;
$font_weight_bold: 600;
$font_weight_regular: normal;

// font size
$small_small_font_size: 12px;
$small_font_size: 14px;
$font_size: 16px;
$medium_font_size: 18px;
$big_font_size: 24px;
$title_font_size: 32px;

// text
$text_indent: 20px;
$letter_spacing: normal;
$line_height: normal;

// animation
$transition: 0.6s all;
$transition_time: 0.6s;
$medium_transition_time: 1s;
$big_transition_time: 2.8s;

$text_animation: 1s;
$text_animation_margin: 26px;
$text_animation_negative_margin: -26px;

// margin
$small_small_margin: 5px;
$small_margin: 10px;
$margin: 20px;
$big_margin: 40px;

$layout_margin: 20px;

// opacity
$less_opacity: 0.6;

// zIndex
$top_zindex: 100;

// phone
$phone_width: 1000px;

// bouton
$bouton_size: 40px;

// shadow box
$shadow_box: 0 8px 40px rgba(0, 0, 0, 0.2);

// Image width and height
$image_height: 40px;
$double_image_height: 80px;
