@import '@/styles/variables.scss';

// ------------------------------+
//
//      SECTION PRESENTATION
//
// ------------------------------+

.section_presentation_cont {
  position: absolute;
  left: calc($layout_margin + $big_margin);
  bottom: calc($big_margin + $small_margin);
  width: 480px;
  height: 140px;

  @media only screen and (max-width: $phone_width) {
    width: 100%;
    height: 20%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    text-align: center;
  }

  .presentation_title {
    font-family: $first_font;
    color: $text_color;
    font-size: $big_font_size;
    font-weight: $font_weight_bold;
    text-transform: uppercase;
    animation: fadeIn $text_animation ease-in-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateX($big_margin);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    @media only screen and (max-width: $phone_width) {
      font-size: $medium_font_size;
    }
    
    .presentation_title_colored {
      color: $main_color;
    }
  }

  .span_text_cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: $margin;
    height: 28px;
    animation: fadeIn calc($text_animation + .4s) ease-in-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateX($big_margin);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }

    @media only screen and (max-width: $phone_width) {
      font-size: $font_size;
      height: 28px;
    }

    .span_animation_cont {
      height: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      overflow: hidden;

      @media only screen and (max-width: $phone_width) {
        width: 100px;
      }

      .span_hook {
        color: $main_color;
        font-weight: $font_weight_bold;
      }

      .span_developer {
        transform-origin: top;
        animation: swaptop 4s 1s infinite alternate ease-in-out;

        @keyframes swaptop {
          40% {
            transform: translateY(0%);
          }
          60%,
          100% {
            transform: translateY(-120%);
          }
        }
      }

      .span_designer {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 120%);
        animation: swapbot 4s 1s infinite alternate ease-in-out;

        @keyframes swapbot {
          40% {
            transform: translate(-50%, 120%);
          }
          60%,
          100% {
            transform: translate(-50%, 0%);
          }
        }
      }
    }

    @media only screen and (max-width: $phone_width) {
      align-items: center;
      justify-content: center;
    }
  }
}
