@use '@/styles/variables';
@use 'sass:color';

// ------------------------------+
//
//          LAYOUT
//
// ------------------------------+

$top_height: 100px;
$nav_height: 60px;
$blur: 2px;
$scale: 1;
$scale_minus: -1;

.layout_wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  .background_global_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/img/background/BO_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: variables.$black_color_rgba;
      z-index: 1;
    }
  }

  .global_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: variables.$margin;
    padding-top: calc($top_height + $nav_height);

    .section_top {
      width: 100%;
      height: 100px;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: variables.$top_zindex;
      backdrop-filter: blur($blur);

      .logo {
        width: 80px;
        height: 80px;
      }
    }

    .section_nav {
      width: 100%;
      height: 60px;
      position: fixed;
      top: $top_height;
      left: 0;
      z-index: variables.$top_zindex;
      background: variables.$main_color_rgba;
      backdrop-filter: blur($blur);
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: solid variables.$border_width_big variables.$white_color_rgba;
      border-bottom: solid variables.$border_width_big
        variables.$white_color_rgba;

      .nav_list {
        display: flex;
        gap: variables.$margin;
        list-style: none;
        padding: 0;
        margin: 0;

        @media only screen and (max-width: variables.$phone_width) {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }

        .nav_item {
          font-size: variables.$font_size;
          font-family: variables.$first_font;
          font-weight: variables.$font_weight_regular;
          color: variables.$white_color;
          text-decoration: none;
          transition: variables.$transition;

          @media only screen and (max-width: variables.$phone_width) {
            font-size: variables.$small_small_font_size;
          }

          &:hover {
            text-shadow: 0px 0px 10px variables.$white_color;
          }
        }
      }
    }

    .scroll_to_top {
      position: fixed;
      bottom: variables.$margin;
      right: variables.$margin;
      width: auto;
      height: 60px;
      padding: variables.$small_margin;
      border-top: variables.$border_width_big solid variables.$white_color;
      display: flex;
      text-decoration: none;
      z-index: variables.$top_zindex;
      gap: variables.$small_margin;
      transition: variables.$transition;

      &:hover {
        border-top-color: variables.$main_color;
      }

      @media only screen and (max-width: variables.$phone_width) {
        top: variables.$margin;
        bottom: 0;
      }

      .to_top_image_left,
      .to_top_image_right {
        width: auto;
        height: 60px;
        transition: variables.$transition;

        @media only screen and (max-width: variables.$phone_width) {
          height: 40px;
        }
      }

      @keyframes floatUpDownLeft {
        0% {
          transform: translateY(0) scaleX($scale);
        }
        50% {
          transform: translateY(-10px) scaleX($scale);
        }
        100% {
          transform: translateY(0) scaleX($scale);
        }
      }

      @keyframes floatUpDownRight {
        0% {
          transform: translateY(0) scaleX($scale_minus);
        }
        50% {
          transform: translateY(calc(variables.$small_margin * -1))
            scaleX($scale_minus);
        }
        100% {
          transform: translateY(0) scaleX($scale_minus);
        }
      }

      .to_top_image_left {
        animation: floatUpDownLeft variables.$big_transition_time ease-in-out
          infinite;
      }

      .to_top_image_right {
        animation: floatUpDownRight variables.$big_transition_time ease-in-out
          infinite;
      }
    }

    .logout_button {
      position: fixed;
      bottom: variables.$margin;
      left: variables.$margin;
      width: 40px;
      height: 40px;
      background: variables.$white_color_rgba;
      border-radius: variables.$circle_border_radius;
      border: none;
      cursor: pointer;
      z-index: variables.$top_zindex;
      transition: variables.$transition;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: color.adjust(variables.$white_color, $lightness: -10%);
      }

      @media only screen and (max-width: variables.$phone_width) {
        bottom: none;
        top: variables.$margin;
      }
    }
  }
}
