@import '@/styles/variables.scss';

// ------------------------------+
//
//          MAIN LAYOUT
//
// ------------------------------+

.global_cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: $black_color;
  display: flex;
  justify-content: center;
  align-items: center;

  .home_btn_cont {
    height: 40px;
    width: 40px;
    position: absolute;
    top: $layout_margin;
    left: $layout_margin;

    .home_btn {
      border: none;
      background: none;
      outline: none;

      .home_logo {
        width: 40px;
        height: 40px;
        cursor: pointer;
        
        @media only screen and (max-width: $phone_width) {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}
