@import '@/styles/variables.scss';

// ------------------------------+
//
//          MAIN LAYOUT
//
// ------------------------------+

.global_cont {
  width: 100vw;
  height: 100vh;
  background-color: $main_color;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .home_btn_cont {
    height: 40px;
    width: 40px;
    position: absolute;
    top: $layout_margin;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn $text_animation ease-in-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translate(-50%, $text_animation_negative_margin);
      }
      to {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }

    .home_btn {
      border: none;
      background: none;
      outline: none;

      .home_logo {
        width: 40px;
        height: 40px;
        cursor: pointer;

        @media only screen and (max-width: $phone_width) {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
  }
}
