@use '@/styles/variables';

// ------------------------------+
//
//         MUSIC SELECTOR
//
// ------------------------------+

.music_selector_cont {
  width: 80px;
  height: 30px;
  position: absolute;
  bottom: variables.$layout_margin;
  left: variables.$layout_margin;
  background-color: variables.$white_color;
  border-radius: calc(variables.$bouton_size / 2);
  overflow: hidden;
  z-index: variables.$top_zindex;
  transition: variables.$transition;
  animation: fadeIn variables.$text_animation ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(variables.$text_animation_negative_margin);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: variables.$phone_width) {
    bottom: calc(variables.$layout_margin / 2);
    left: calc(variables.$layout_margin / 2);
  }
}
