@use '@/styles/variables';

// ------------------------------+
//
//          CURSOR
//
// ------------------------------+

$cursor_wh: 25px;

.cursor_custom {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  transform-origin: center;
  pointer-events: none;
  width: $cursor_wh;
  height: $cursor_wh;
  background-color: var(--color-primary);
  border-radius: variables.$circle_border_radius;
  opacity: 0;
  z-index: 999;
  box-shadow: variables.$cursor_shadow_box;
  transition: scale variables.$transition_time ease,
    mix-blend-mode variables.$transition_time ease,
    opacity variables.$transition_time ease;

  &.is_hover_big {
    mix-blend-mode: color-burn;
    opacity: variables.$less_opacity !important;
  }

  &.is_hover_small {
    opacity: variables.$less_opacity !important;
    mix-blend-mode: color-burn;
  }
}
