@use '@/styles/variables';

// ------------------------------+
//
//          PILLAR
//
// ------------------------------+

.pillar {
  width: variables.$image_height;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .section_image {
    width: 100%;
    height: variables.$image_height;
    display: flex;
    justify-content: center;

    .deco_image {
      width: variables.$image_height;
      height: variables.$image_height;
    }
  }

  .deco_line {
    width: variables.$border_width_big;
    height: calc(100% - variables.$image_height);
    background-color: variables.$white_color;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: variables.$margin;
      height: variables.$margin;
      background-color: variables.$white_color;
      transform: translate(-50%, 0px) rotate(45deg);
    }
  }
}
