@import '@/styles/variables.scss';

// ------------------------------+
//
//         MUSIC BUTTON
//
// ------------------------------+

.music_btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;

  .music_line {
    width: 65%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .bar {
      width: $border_width_big;
      margin: 0 1px;
      background-color: var(--color-primary);
      display: inline-block;
      transform-origin: center center;
      transition: $transition;

      &.not_active {
        height: $border_width_big;
      }

      &.active {
        animation: bounce $big_transition_time infinite ease-in-out;
        height: 50%;
      }

      &:nth-child(even) {
        background-color: $black_color;
      }
    }

    @keyframes bounce {
      0% {
        transform: scaleY(1);
      }
      25% {
        transform: scaleY(1.4);
      }
      50% {
        transform: scaleY(1);
      }
      75% {
        transform: scaleY(0.6);
      }
      100% {
        transform: scaleY(1);
      }
    }

    .hide_left {
      background: linear-gradient(to right, $white_color 20%, transparent 100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
    }

    .hide_right {
      background: linear-gradient(to left, $white_color 20%, transparent 100%);
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
    }
  }

  .music_text_cont {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .music_text {
      font-family: $first_font;
      font-weight: $font_weight_bold;
      color: $text_color;
      font-size: $small_font_size;
      text-transform: lowercase;
    }
  }
}
