@use '@/styles/variables';

// ------------------------------+
//
//          CARD LIST
//
// ------------------------------+

.card_skill {
  width: 100px;
  height: 40px;
  padding: variables.$small_margin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$white_color_rgba;
  border: solid variables.$border_width variables.$white_color;
  border-radius: variables.$border_radius;
  margin: variables.$small_margin;
  box-shadow: 0 0 10px variables.$white_color;
  transition: variables.$transition;
  // cursor: pointer;

  &:hover {
    background-color: variables.$white_color;
    box-shadow: 0 0 20px var(--color-primary);

    .card_title {
      color: var(--color-primary);
    }
  }

  .card_title {
    font-weight: bold;
    transition: variables.$transition;
  }
}
