@use '@/styles/variables';

// ------------------------------+
//
//      SECTION CONTACT
//
// ------------------------------+

.section_contact_cont {
  width: 90%;
  height: 90%;
  z-index: 50;
  animation: fadeIn variables.$text_animation ease-in;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(variables.$text_animation_negative_margin);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .contact_form {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    h6 {
      font-family: variables.$second_font;
      font-size: variables.$medium_font_size;
      margin-bottom: variables.$big_margin;
    }

    @media only screen and (max-width: variables.$phone_width) {
      width: 100%;
    }

    .form_group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: variables.$big_margin;

      @media only screen and (max-width: variables.$phone_width) {
        margin-bottom: calc(variables.$margin + variables.$small_margin);
      }

      .form_input_wrapper {
        width: 48%;
        height: 40px;
        position: relative;

        .form_label {
          position: absolute;
          top: calc(variables.$margin * -1);
          left: variables.$small_margin;
          font-size: variables.$small_small_font_size;
          font-family: variables.$second_font;
        }

        .form_input {
          width: 100%;
          height: 100%;
          padding: variables.$small_margin;
          background-color: variables.$white_color_rgba;
          border: variables.$border_width solid variables.$white_color;
          border-radius: variables.$border_radius;
          box-shadow: 0 0 10px variables.$white_color;
          outline: none;
          transition: variables.$transition;
          font-family: variables.$second_font;

          &:focus {
            box-shadow: 0 0 20px var(--color-primary);
            background-color: variables.$white_color;
            color: var(--color-primary);
          }
        }
      }
    }

    .form_input_wrapper_text_area {
      position: relative;
      width: 100%;
      height: 100px;
      margin-bottom: variables.$margin;

      @media only screen and (max-width: variables.$phone_width) {
        margin-bottom: variables.$small_margin;
      }

      .form_label {
        position: absolute;
        top: calc(variables.$margin * -1);
        left: variables.$small_margin;
        font-size: variables.$small_small_font_size;
        font-family: variables.$second_font;
      }

      .textarea {
        width: 100%;
        height: 100%;
        padding: variables.$small_margin;
        background-color: variables.$white_color_rgba;
        border: variables.$border_width solid variables.$white_color;
        border-radius: variables.$border_radius;
        box-shadow: 0 0 10px variables.$white_color;
        resize: none;
        outline: none;
        transition: variables.$transition;
        font-family: variables.$second_font;

        &:focus {
          box-shadow: 0 0 20px var(--color-primary);
          background-color: variables.$white_color;
          color: var(--color-primary);
        }
      }
    }

    .btn_send {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: variables.$font_weight_bold;
      font-family: variables.$first_font;
      padding: variables.$small_margin;
      background-color: variables.$white_color_rgba;
      border: variables.$border_width solid variables.$white_color;
      border-radius: variables.$border_radius;
      box-shadow: 0 0 10px variables.$white_color;
      outline: none;
      cursor: pointer;
      transition: variables.$transition;
      text-transform: uppercase;

      &:hover {
        box-shadow: 0 0 20px var(--color-primary);
        background-color: variables.$white_color;
        color: var(--color-primary);
      }
    }

    .banner {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: variables.$small_margin;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: variables.$white_color;
      border: variables.$border_width solid variables.$white_color;
      border-radius: variables.$border_radius;
      box-shadow: 0 0 20px var(--color-primary);
      text-transform: uppercase;

      p {
        font-weight: variables.$font_weight_bold;
        font-family: variables.$first_font;
        color: var(--color-primary);
      }
    }
  }

  .images_container {
    width: 200px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: variables.$phone_width) {
      width: 140px;
    }

    .btn_share_contact {
      height: variables.$bouton_size;
      width: variables.$bouton_size;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      opacity: variables.$less_opacity;
      outline: none;
      transition: variables.$transition;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
