@import '@/styles/variables.scss';

// ------------------------------+
//
//          SCROLL BTN
//
// ------------------------------+

.scroll_btn_cont {
  position: absolute;
  left: 50%;
  bottom: $layout_margin;
  transform: translate(-50%, 0);
  width: 110px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn $text_animation ease-in-out;
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, $text_animation_margin);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  
  @media only screen and (max-width: $phone_width) {
    width: 100px;
    bottom: 0;
  }

  .scroll_circle_right,
  .scroll_circle_left {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -20px;
    background-color: transparent;
    opacity: 1;
    border-top: solid $border_width transparent;
    border-left: solid $border_width transparent;
    border-right: solid $border_width transparent;
    border-bottom: solid $border_width $main_color;
    border-radius: $circle_border_radius;
  }

  .scroll_circle_left {
    animation: scrollCircleLeft $big_transition_time infinite ease-in-out;
    @keyframes scrollCircleLeft {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      51% {
        opacity: 1;
        transform: rotate(0deg);
      }
      74% {
        opacity: 1;
        transform: rotate(160deg);
      }
      75% {
        opacity: 0;
      }
    }
  }

  .scroll_circle_right {
    animation: scrollCircleRight $big_transition_time infinite linear;
    @keyframes scrollCircleRight {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      51% {
        opacity: 1;
        transform: rotate(0deg);
      }
      74% {
        transform: rotate(-160deg);
        opacity: 1;
      }
      75% {
        opacity: 0;
      }
    }
  }

  .scroll_circle_dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: $main_color;
    border-radius: $circle_border_radius;
    animation: scrollCircleDot $big_transition_time infinite linear;

    $translate_circle_do: 10px;

    @media only screen and (max-width: $phone_width) {
      $translate_circle_do: 4px;
    }

    @keyframes scrollCircleDot {
      0%,
      100% {
        transform: translateY(0);
      }
      25%,
      26% {
        transform: translateY($translate_circle_do);
        opacity: 1;
      }
      50% {
        transform: translateY(-10px);
        opacity: 1;
      }
      51%,
      74% {
        opacity: 0;
      }
      75% {
        opacity: 1;
        transform: translateY(-30px);
      }
    }
  }

  .scroll_down_sentence {
    font-family: $first_font;
    font-weight: $font_weight_bold;
    color: $text_color;
    font-size: $small_font_size;
    text-transform: lowercase;
    
    @media only screen and (max-width: $phone_width) {
      font-size: $small_small_font_size;
    }

    $rotation_up: 10deg;
    $rotation_down: -10deg;
    $translate: 4px;

    .dot {
      width: 4px;
      height: 4px;
      background-color: transparent;
      border-radius: $circle_border_radius;

      &::before {
        content: 'scroll';
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        animation: scrollAnimation $big_transition_time infinite linear;
        transform-origin: right;

        @keyframes scrollAnimation {
          0% {
            transform: translate(0, -50%) rotate(0deg);
          }
          25% {
            transform: translate(0, calc(-50% + $translate))
              rotate($rotation_up);
          }
          50% {
            transform: translate(0, -50%);
          }
          100% {
            transform: translate(0, -50%) rotate(0deg);
          }
        }
      }

      &::after {
        content: 'down';
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
        animation: downAnimation $big_transition_time infinite linear;
        transform-origin: left;

        @keyframes downAnimation {
          0% {
            transform: translate(0, -50%) rotate(0deg);
          }
          25% {
            transform: translate(0, calc(-50% + $translate))
              rotate($rotation_down);
          }
          50% {
            transform: translate(0, -50%);
          }
          100% {
            transform: translate(0, -50%) rotate(0deg);
          }
        }
      }
    }
  }
}
