@use '@/styles/variables';

// ------------------------------+
//
//          SCROLL BTN
//
// ------------------------------+

$rotation_up: 10deg;
$rotation_down: -10deg;
$translate: 4px;
$translate_circle_dot: 10px;

.scroll_btn_cont {
  position: absolute;
  left: 50%;
  bottom: variables.$layout_margin;
  transform: translate(-50%, 0);
  width: 110px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn variables.$text_animation ease-in-out;
  transition: variables.$transition;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, variables.$text_animation_margin);
    }
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  @media only screen and (max-width: variables.$phone_width) {
    width: 100px;
    bottom: calc(variables.$layout_margin / 2);
  }

  .scroll_circle_right,
  .scroll_circle_left {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -20px;
    background-color: transparent;
    opacity: 1;
    border-top: solid variables.$border_width transparent;
    border-left: solid variables.$border_width transparent;
    border-right: solid variables.$border_width transparent;
    border-bottom: solid variables.$border_width var(--color-primary);
    border-radius: variables.$circle_border_radius;
  }

  .scroll_circle_left {
    will-change: transform;
    animation: scrollCircleLeft variables.$big_transition_time infinite
      ease-in-out;

    @keyframes scrollCircleLeft {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      51% {
        opacity: 1;
        transform: rotate(0deg);
      }
      74% {
        opacity: 1;
        transform: rotate(160deg);
      }
      75% {
        opacity: 0;
      }
    }
  }

  .scroll_circle_right {
    animation: scrollCircleRight variables.$big_transition_time infinite linear;
    will-change: transform;

    @keyframes scrollCircleRight {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 0;
      }
      51% {
        opacity: 1;
        transform: rotate(0deg);
      }
      74% {
        transform: rotate(-160deg);
        opacity: 1;
      }
      75% {
        opacity: 0;
      }
    }
  }

  .scroll_circle_dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: variables.$circle_border_radius;
    animation: scrollCircleDot variables.$big_transition_time infinite linear;
    will-change: transform;

    @media only screen and (max-width: variables.$phone_width) {
      $translate_circle_dot: 4px;
    }

    @keyframes scrollCircleDot {
      0%,
      100% {
        transform: translateY(0);
      }
      25%,
      26% {
        transform: translateY($translate_circle_dot);
        opacity: 1;
      }
      50% {
        transform: translateY(-10px);
        opacity: 1;
      }
      51%,
      74% {
        opacity: 0;
      }
      75% {
        opacity: 1;
        transform: translateY(-30px);
      }
    }
  }

  .scroll_down_sentence {
    font-family: variables.$first_font;
    font-weight: variables.$font_weight_bold;
    color: variables.$text_color;
    font-size: variables.$small_font_size;
    text-transform: lowercase;

    @media only screen and (max-width: variables.$phone_width) {
      font-size: variables.$small_small_font_size;
    }

    .dot {
      width: 4px;
      height: 4px;
      background-color: transparent;
      border-radius: variables.$circle_border_radius;

      &::before {
        content: 'scroll';
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        animation: scrollAnimation variables.$big_transition_time infinite
          linear;
        transform-origin: right;

        @keyframes scrollAnimation {
          0% {
            transform: translate(0, -50%) rotate(0deg);
          }
          25% {
            transform: translate(0, calc(-50% + $translate))
              rotate($rotation_up);
          }
          50% {
            transform: translate(0, -50%);
          }
          100% {
            transform: translate(0, -50%) rotate(0deg);
          }
        }
      }

      &::after {
        content: 'down';
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
        animation: downAnimation variables.$big_transition_time infinite linear;
        transform-origin: left;

        @keyframes downAnimation {
          0% {
            transform: translate(0, -50%) rotate(0deg);
          }
          25% {
            transform: translate(0, calc(-50% + $translate))
              rotate($rotation_down);
          }
          50% {
            transform: translate(0, -50%);
          }
          100% {
            transform: translate(0, -50%) rotate(0deg);
          }
        }
      }
    }
  }
}
