@import '@/styles/variables.scss';

// ------------------------------+
//
//          INDEX PAGES
//
// ------------------------------+

.global_page_container{
    width: 96%;
    height: 70%;
    position: relative;
}