@use '@/styles/variables';

// ------------------------------+
//
//          CHAT BOT
//
// ------------------------------+

$header_footer_height: 50px;

.chatbot_cont {
  height: variables.$bouton_size;
  width: variables.$bouton_size;
  position: absolute;
  bottom: variables.$layout_margin;
  bottom: calc(variables.$layout_margin * 4);
  right: variables.$layout_margin;
  z-index: variables.$top_zindex;
  animation: fadeIn variables.$text_animation ease-in-out;
  transition: variables.$transition;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(variables.$text_animation_margin);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media only screen and (max-width: variables.$phone_width) {
    bottom: calc(variables.$layout_margin * 3);
    right: calc(variables.$layout_margin / 2);
  }

  .chat_btn {
    height: variables.$bouton_size;
    width: variables.$bouton_size;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: variables.$circle_border_radius;
    cursor: pointer;
    outline: none;
    transition: variables.$transition;
    border: none;
    background: variables.$white_color;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .chat_window {
    position: absolute;
    bottom: variables.$bouton_size + variables.$small_margin;
    right: 0;
    width: 300px;
    height: 420px;
    border-radius: variables.$border_radius;
    box-shadow: variables.$shadow_box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: variables.$transition;
    animation: fadeInChat variables.$text_animation ease-in-out;
    z-index: calc(variables.$top_zindex + 1);

    @media only screen and (max-width: variables.$phone_width) {
      width: 80vw;
      height: 60vh;
    }

    .header_area {
      width: 100%;
      height: $header_footer_height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 variables.$margin;
      background: variables.$white_color;
      border-radius: 0 0 variables.$border_radius variables.$border_radius;
      border-bottom: solid variables.$border_width var(--color-primary);

      .header_avatar {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header_text {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .chatbot_online {
          width: 100%;
          position: absolute;
          bottom: calc(
            variables.$small_margin * -1 - variables.$small_small_margin
          );
          left: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .chat_dot {
            width: variables.$small_margin;
            height: variables.$small_margin;
            border-radius: variables.$circle_border_radius;
            border: solid variables.$black_color variables.$border_width;
          }
        }

        .online {
          .chat_dot {
            background-color: variables.$succes_color_two;
          }
          p {
            color: variables.$succes_color_two;
          }
        }
        .offline {
          .chat_dot {
            background-color: variables.$error_color;
          }
          p {
            color: variables.$error_color;
          }
        }

        .custom_title {
          font-family: variables.$first_font;
          font-weight: variables.$font_weight_bold;
          color: var(--color-primary);
          font-size: variables.$small_font_size;
          text-transform: uppercase;
        }
      }

      .reset_btn {
        background: none;
        cursor: pointer;
        border: none;
        outline: none;
      }
    }

    .messages {
      width: 100%;
      height: calc(100% - ($header_footer_height * 2));
      display: flex;
      flex-direction: column;
      background-color: transparent;
      gap: variables.$small_margin;
      padding: variables.$small_margin;
      overflow-y: auto;
      background-color: variables.$white_color_rgba;
      overscroll-behavior: contain;

      .message {
        padding: variables.$small_margin variables.$small_small_margin;
        border-radius: variables.$border_radius;
        max-width: 80%;
        word-wrap: break-word;
        border-bottom-right-radius: 0;

        &.user {
          background: var(--color-primary);
          align-self: flex-end;

          p {
            color: variables.$white_color;
          }
        }

        &.assistant {
          background: variables.$white_color;
          align-self: flex-start;
          border-bottom-left-radius: 0;
        }
      }

      .suggested_questions {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        gap: variables.$small_small_margin;
        background-color: transparent;

        .question_btn {
          padding: variables.$small_small_margin;
          border-radius: variables.$border_radius;
          max-width: 80%;
          word-wrap: break-word;
          background: transparent;
          border: variables.$border_width solid var(--color-primary);
          border-bottom-right-radius: 0;
          color: var(--color-primary);
          cursor: pointer;
        }
      }

      .offline_banner {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .offline_text {
          margin-top: variables.$margin;
          .custom_span {
            color: var(--color-primary);
          }
        }
      }
    }

    @keyframes fadeInChat {
      from {
        opacity: 0;
        transform: translateY(variables.$text_animation_margin);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .input_area {
    width: 100%;
    height: $header_footer_height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 variables.$margin;
    background: variables.$white_color;
    border-radius: variables.$border_radius variables.$border_radius 0 0;
    border-top: solid variables.$border_width var(--color-primary);

    input {
      width: 80%;
      outline: none;
      background: none;
      border: none;
      font-family: variables.$second_font;
      font-weight: variables.$font_weight_regular;
      color: var(--color-primary);
      font-size: variables.$small_font_size;
    }

    button {
      height: variables.$bouton_size;
      width: variables.$bouton_size;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: variables.$circle_border_radius;
      cursor: pointer;
      outline: none;
      transition: variables.$transition;
      border: none;
      background: none;

      img {
        width: 20px;
        height: 20px;
      }

      &:disabled {
        filter: contrast(0.8);
        cursor: not-allowed;
      }
    }
  }
}
