@import '@/styles/variables.scss';

// ------------------------------+
//
//      SECTION PROJECT
//
// ------------------------------+

.section_project_cont {
  width: 90%;
  height: 90%;
  z-index: 50;
  animation: fadeIn $text_animation ease-in;
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY($text_animation_negative_margin);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .middle_project_wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $phone_width) {
      width: 100%;
    }
  }
}
